build/
build2/
build3/
build4/
dist/
native/build*/
*.pyc
__pycache__/
*.spec
*.pkg
*.pyz
*.exe
acrylic_overlay.exe
welcome_demo.exe
blur_backdrop.exe
config.ini
DWMBlurGlass.2.3.2_Beta3_x64/
DWMBlurGlass-2.3.2b3/
Window2Clear-main/
Window2Clear_v0.2.0.exe
window2clear.exe
*.rar
local/
